.container-fluid{
    margin: 0 auto;
}

.navbar-nav.navbar-center.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    color: white;
    font-family: Century-Gothic, Arial;
    font-weight: bold;
}

.nav-link {
    color: white;
}

.background-image {
    background-image: url('./logbg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.empty-background {
    background-color: #E1E1E3;
    text-align: left;
    padding: 20px;
}

.cloth-image-card {

      max-width: 100%;
      height: auto;
}